

.wrapper-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 2vmin;
}

.content-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.name-and-desc-about {
    width: 100%;
    align-self: flex-start;
}


img {
    max-width:80%;
}
.about-image img {
    display: block;
    /* width: 99.9%;
    height: 99.9%; */
    margin: auto;
    padding-top: 0.7rem;
    /* to match the margin top of the padding  (1.5 + 0.7( */
    padding-bottom: 2.2rem;

    border-radius: 2%;
}


@media (min-width: 320px) { 
    .content-about {
        flex-direction: column;
        width: 90%;
    }
   
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) { 
    .content-about {
        flex-direction: row;
    }

    .wrapper-about {
        padding-top: 2em;
    }

    .about-image img {
        margin-right: 0;
    }

}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 992px) { 
    .content-about {
        max-width: 1250px;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) { 

}