
html {
    box-sizing: border-box;
}
.wrapper-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 1em;
}

.content-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.name-and-desc-about {
    width: 100%;
    margin-right: 2vw;
}

.about-image {
    box-sizing: border-box;
    margin: auto;
    width: 50%;
}

.about-image img {
    /* padding-top: 0.7rem;
    padding-bottom: 2.2rem; */
    box-sizing: border-box;
    border-radius: 8%;
    width: 100%;
}


@media (min-width: 320px) { 
    .content-about {
        flex-direction: column;
        width: 90%;
    }
   
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) { 
    .content-about {
        flex-direction: row;
    }

    .wrapper-about {
        padding-top: 2em;
    }

    /* .about-image img {
        margin-right: 0;
        box-sizing: border-box;
    } */

}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 992px) { 
    .wrapper-about {
        padding-top: 2.5rem;
    }

    .content-about {
        max-width: 1250px;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) { 

}