.wrapper-experiences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.default-title-experiences {
    font-family: 'Playfair-Display';
    font-weight: 900;
    font-size: 5.7vw;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: left;
    color: black;
    width: 100%;
    text-shadow: 0px 3px 6px #d4d4d4;
}