.wrapper-experience {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 85%;
    margin: auto;
}

.wrapper-indivExperience {
    /* margin-top: 0.7rem; */
    margin-bottom: 3.5rem;
}
.experience-content {
    /* width: 60%; */
}

.experience-title {
    /* font-size: 16px; */
    font-size: 3.2rem;
}

.experience-metadata {
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-between;
}

/* Media Queries source:  */
/* http://devfacts.com/media-queries-breakpoints-2020/ */
@media (min-width: 320px) { 
    .experience-metadata {
        flex-direction: column-reverse;
        justify-content: normal;
        text-align: center;
    }
   
    .wrapper-experience {
        max-width: 600px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) { 

}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 992px) { 
    .wrapper-experience {
        max-width: 700px;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) { 
    .wrapper-experience {
        max-width: 800px;
    }

}