
.wrapper-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-home {
    width: 90%;
    display: flex;
    /* for some reason this justify-content is causing the overlap on the navbar */
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 88vh;
    /* max-width: 50%; */
    /* padding-left: 0.5rem; */

}

.default-desc-home {
    font-family: 'Poppins';
    color: #888080;
    margin-bottom: 0.7rem;
    font-size: 1rem;
}



.media-icons {
    color: #888080;
    font-size: 2rem;
    margin-left: 15px;
    margin-right: 15px;
    transition-duration: 300ms;
    /* padding-bottom: 90px; */
}

.media-icons-container {
    padding-top: 15px;
    /* padding-bottom: 60px; */
}
#linkedin-icon:hover {
    color: #FEC08F;
}
#github-icon:hover {
    color: #f8da62;
}
#email-icon:hover {
    color: #A5DFB6;
}
#instagram-icon:hover {
    color: #8ABADE;
}

.my-node-enter {
    opacity: 0;
}
.my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.my-node-exit {
    opacity: 1;
}
.my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}
/* smallest possible screen size - mobile */
@media (min-width: 320px) { 
    /* .content-home {
        /* width: 95%; */
        /* max-width: 340px; */
    
    }
    
    /* Small devices (landscape phones, less than 768px) */
    @media (min-width: 768px) { 
            .content-home {
                width: 60%;
            }


}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 992px) { 
    .content-home {
        width: 50%;
    }

}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) { 

}