.wrapper {
    display: flex;
    justify-content: center;
}

.content-home {
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.media-icons {
    color: #888080;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
    transition-duration: 300ms;
}

#linkedin-icon:hover {
    color: #FEC08F;
}
#github-icon:hover {
    color: #f8da62;
}
#email-icon:hover {
    color: #A5DFB6;
}
#instagram-icon:hover {
    color: #8ABADE;
}