.bar-container {
    /* position: absolute; */
    /* bottom: 10px; */
    width: 100px;
    height: 400px;
    background: grey;
    align-self: flex-end;
}
#smallbar-left {
    position: absolute;
    margin-top: 330px;
    width: 10px;
    /* display height: 120px */
    height: 1px;
    background: #989BE6;
    /* transition-duration: 200ms; */
    /* transform: scaleY(120); */
    animation: 2s ease-in 0s 1 barRaise;

}

@keyframes barRaise {
    0% {
        
        transform: scaleY(1);
    }
    100% {
        transform-origin: bottom;
        transform: scaleY(120);
    }
}
/* #mediumbar-left {
    background: #989BE6;
}

#largebar-left {

} */


/* Media Queries source:  */
/* http://devfacts.com/media-queries-breakpoints-2020/ */
@media (min-width: 320px) { 

   
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) { 

}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 992px) { 

}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) { 

}