.navbar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.position-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #484874;
    padding-bottom: 10px;
    padding-top:10px;
    width: 100%;
}

.navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 88%;
}
.navItem{
    font-weight: 600;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    transition-duration: 600ms;
}

.navItem:hover{
    letter-spacing: 1.5px;
    text-decoration: underline;
}

#icon-styling {
    font-family: "Leckerli One";
    font-size: 1.5rem;
    font-weight: 200;
    text-decoration: none;
}

#icon-styling:hover{
    font-size: 1.6rem;
}

@media (min-width: 320px) { 

   
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) { 

}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 992px) { 
 .hamburgermenu {
    display: none;
 }
 /* .position-nav {
     max-width: 1024px;
 } */
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) { 

}