.navItem{
    font-weight: bold;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    /* text-align: center; */
    color: white;
    transition-duration: 200ms;
}

.navItem:hover{
    letter-spacing: 2px;
}

.navbar-content {
    /* height: 100%; */
    text-align: center;
    width: 50vw;
}
.navbar {
    background-color: #484874;
    height: 10vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.navbar-color {
    background-color: #484874;
}

