
.wrapper-projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    width: 75%;
    /* margin-left: 10.5vw; */
    /* margin-top: 4vw; */
}

.project-title {
    text-align: left;
}


/* Media Queries source:  */
/* http://devfacts.com/media-queries-breakpoints-2020/ */
@media (min-width: 320px) { 

   
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) { 

}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 992px) { 

}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) { 

}