
.wrapper-projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    width: 85%;
    margin-left: 1.5rem;
    /* margin-top: 4vw; */
}

/* .projects-all { 
    width: 50%;
} */

.project-metadata {
    display: flex;
    flex-direction: column;
    align-items: normal;

    justify-content: space-between;
}
/* Media Queries source:  */
/* http://devfacts.com/media-queries-breakpoints-2020/ */
@media (min-width: 320px) {   
    .wrapper-projects {
        max-width: 450px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) { 
    .project-metadata {
        flex-direction: row;
        align-items: center;
    } 
    
    .wrapper-projects {
        padding-left: 3.5rem;
        max-width: 700px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 992px) { 
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) { 
    .wrapper-projects {
        max-width: 950px;
    }
    
}