/* Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap');
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap');
/* Leckerli for 'icon' */
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
/* Color Reference:
Navbar (navy): #484874
Header (pink): #F55379
Description (dark grey): #888080

Muted:
Red: #FFBCCC
Yellow: #FBE897
Blue: #989BE6
*/

/* taken from about or home? */
.default-title {
    font-family: 'Playfair-Display';
    font-weight: 900;
    color: black;
    font-size: 3rem;
    /* font-size: 1vw; */
    margin-bottom: 0.7rem; 
    margin-top: 0.7rem;
    text-align: center;
    /* text-shadow: 0px 3px 6px #d4d4d4; */
    
}

/* taken from home */
.default-header {
    font-family: 'Poppins';
    font-weight: 600;
    color: #F55379;
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
    
}

.default-desc {
    font-family: 'Poppins';
    color: #888080;
    margin-bottom: 0.7rem;
    font-size: 1rem;
}

/* transition for the router */
/* tutorial source: https://youtu.be/NUQkajBdnmQ  */

.transition-wrapper {
    position: absolute;
    left: 0;
    right: 0;
}

.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.title-padding-left {
    text-align: left;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.title-padding-center {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Media Queries source:  */
/* http://devfacts.com/media-queries-breakpoints-2020/ */
@media (min-width: 320px) { 

   
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) { 
    /* html {
        font-size: 18px;
    } */
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 992px) { 
    /* html {
        font-size: 20px;
    } */
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) { 

}